{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">
				<h2>Editar Perfil de Usuari@</h2>

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
		<br />
    <div>
        <input type="submit" value="{{ 'Enviar'|trans }}"  class="special"/>
    </div>
{{ form_end(form) }}
{% endblock fos_user_content %}


</div>
</section>
</article>
{% endblock %}
