{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Usuario: {{ user.username }}</p>
    <p>Correo electrónico: {{ user.email }}</p>
    <p><a href="edit">Editar Perfil</a></p>
</div>
