{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">
		<h2>Perfil de Usuari@</h2>
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="fos_user_user_show">
    <p>Usuario: {{ user.username }}</p>
    <p>Correo electrónico: {{ user.email }}</p>
		<ul class="actions">
			<li><a href="edit" class="button special">Editar Perfil</a></li>
			<li><a href="{{ path('fos_user_change_password') }}" class="button special">Mudar Contrasinal</a></li>
			<li><a href="{{ path('fos_user_security_logout') }}" class="button special">Saír</a></li>
		</ul>


		{% if videos %}
		<ul class="icons major">
			<li><span class="icon fa-play major style2"><span class="label">Ipsum</span></span>

			</li>
		</ul>

					<h3>Vídeos Inscritos en Olloboi 2016</h3>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th style="align:center">Título</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tbody>
			{% for video in videos %}
						      <tr>
										<td><a href="/video/show/{{ video.id }}">
												<span class="icon fa-search"><span class="label">Examinar</span></span>
												{{ video.title }}</a>
										</td>
										<td>{{ video.estado }}</td>
									</tr>
			{% endfor %}
							</tbody>
							<tfoot>
								<tr>
								</tr>
							</tfoot>
						</table>
					</div>


		{% else %}
					<ul class="icons major">
						<li><span class="icon fa-pause major style2"><span class="label">Ipsum</span></span></li>
					</ul>
					<p>Aínda non inscribiches ningún vídeo no concurso. Estamos ansios@s de ver o teu traballo,
									a que estás agardando? :)</p>
		{% endif %}

{##################  FASE DE INSCRICIÓN
			<ul class="actions">
			<li><a href="/video/new" class="button special">Inscribir Vídeo</a></li>
		</ul>
#}
</div>
{% endblock fos_user_content %}


</div>
</section>
</article>
{% endblock %}
