{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

			<section id="usuarios" class="wrapper style2">
				<div class="inner">
					<h2>Usuarios</h2>
					<p>Panel de administración</p>

{% if usuarios %}
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th style="align:center">Username</th>
							<th>Correo-e</th>
							<th>Teléfono</th>
						</tr>
					</thead>
					<tbody>
	{% for usuario in usuarios %}
				      <tr>
								<td><a href="/usuario/show/{{ usuario.id }}">
										<span class="icon fa-search"><span class="label">Examinar</span></span>
										{{ usuario.username }}</a>
								</td>
								<td>{{ usuario.email }}</td>
								<td>{{ usuario.telefono }}
										<a href="/usuario/edit/{{ usuario.id }}">
											<span class="icon fa-edit"><span class="label">Editar</span></span>
										</a>
										</td>
							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>


{% else %}
			<p>Aínda non hai usuarios inscritos no concurso.</p>
{% endif %}


			</div>
		</section>

{% endblock %}
