{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<section id="videos" class="wrapper style2">
	<div class="inner">
		<h2>Vídeos</h2>
		<p>Panel de administración</p>

{% if videos %}
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th style="align:center">Título</th>
							<th>Responsable</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
	{% for video in videos %}
				      <tr>
								<td><a href="/video/show/{{ video.id }}">
										<span class="icon fa-search"><span class="label">Examinar</span></span>
										{{ video.title }}</a>
								</td>
								<td>{{ video.username }}</td>
								<td>{{ video.estado }}
										<a href="/video/edit/{{ video.id }}">
											<span class="icon fa-edit"><span class="label">Editar</span></span>
										</a>
										</td>
							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>


{% else %}
			<p>Aínda non hai vídeos inscritos no concurso.</p>
{% endif %}


			</div>
		</section>

{% endblock %}
