{# about.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<!-- Main -->
<article id="main">
	<section class="wrapper style5">
		<div class="inner">

			<h3>Bases</h3>
			<p>A Asociación <b>Olloboi</b> convoca o Festival Audiovisual <b>“OlloBoi 2016”</b> que se rexerá polas seguintes bases:</p>

			<div class="row">
				<div class="11u$ 12u$(medium)">
					<ol>
<h5>Destinatarios e Requisitos</h5>
	<li>Poderá participar calquera persoa ou grupo de persoas que pertenza ó ámbito escolar, incluíndo alumnado, profesorado, nais e pais e PAS. Os/As menores de 18 anos farano baixo a responsabilidade do seu titor ou titora legal.</li>
	<li>O concurso está <em>dirixido a todos os niveis educativos</em>: Primaria, Secundaria, Bacharelato, Formación Profesional, Universidade e Escolas Audiovisuais.</li>
	<li>Aceptaranse traballos de vídeo-creación (ficción ou documental) <em>de duración preferentemente non superior ós 20 minutos.</em></li>
	<li>A temática e lingua dos traballos será libre, aínda que <em>se valorará o uso do idioma galego, a sensibilidade medioambiental e social e o respecto ós dereitos dos animais</em>.</li>
	<li>Terase en conta que as imaxes e audios dos traballos sexan propiedade dos autores do vídeo, quen consinten na divulgación do material na rede, sempre co recoñecemento da súa autoría e dos seus dereitos (recoméndase que os rexistren baixo licenza <a href="https://gl.wikipedia.org/wiki/Creative_Commons">Creative Commons</a>). De non ser material propio, recoméndase que os recursos utilizados sexan de código aberto (CC). Se se utilizan recursos con dereitos de autor, a responsabilidade de uso dos mesmos recaerá sobre os creadores da peza audiovisual.</li>
	<li>Aceptaranse <em>traballos realizados nos últimos 3 anos</em> sempre que non se presentaran en edicións anteriores do concurso.</li>
	<li>Os traballos deberán estar accesibles a todo o público en Internet, aloxados en <a href="https://vimeo.com/">Vimeo</a> ou en <a href="https://www.youtube.com/">Youtube</a>.</li>


<br/>
<h5>Categorías</h5>

	<li>Establécense inicialmente 10 categorías de premios:
		<ol>
			<li><b>Olloboi Cómico</b>: o máis divertido.</li>
			<li><b>Olloboi Peleón</b>: o máis comprometido, crítico ou denunciante.</li>
			<li><b>Olloboi Fotoxénico</b>: o de fotografía máis coidada.</li>
			<li><b>Olloboi DJ</b>: a mellor interpretación musical, orixinal ou versión.</li>
			<li><b>Olloboi Guión</b>: o mellor texto orixinal.</li>
			<li><b>Olloboi Animado</b>: Animacións, Stop Motion, Time Lapse, etc.</li>
			<li><b>Olloboi Doc</b>: para traballos de non ficción (documentais ou cine-ensaio).</li>
			<li><b>Olloboi Universitario</b>: categoría específica para estudantes universitarios e de escolas de Imaxe e Son. Os participantes nesta categoría quedan excluídos das anteriores, que se reservan ós outros niveis educativos.</li>
			<li><b>Olloboi <i>Online</i></b>: premio especial do público.</li>
			<li><b>Olloboi Zamburrioi</b>: premio especial concedido pola Asociación Olloboi.</li>
		</ol>

<h5>Premios e Xurado</h5>
		</li>
	<li>Cada categoría contará con cadanseu premio, a contía dos cales se determinará en función das colaboracións e patrocinio acadados.</li>
	<li>A Organización resérvase o dereito a declarar deserta unha ou varias das categorías, así como a engadir categorías novas ó longo do desenvolvemento do festival.</li>
	<li>O Xurado estará constituido por membros da <i>Rede Cómplice de Olloboi</i>, da que se informará ó longo do desenvolvemento do concurso e que se poderá consultar en <a href="http://olloboi.com">olloboi.com</a>. Procurarase ter no mesmo a representantes do mundo docente e do audiovisual profesional.</li>

<br/>
<h5>Fases do Festival</h5>

	<li>O festival desenvólvese nas seguintes fases:
		<ol>
			<li><b>Inscrición de traballos</b> en <a href="http://olloboi.com">olloboi.com</a> <b>ata o 6 de maio</b></li>
			<li><b>Encontro Olloboi 2016</b> (datas e formato a determinar)</li>
			<li><b>Gala de entrega de premios</b>, <b>sábado 28 de maio</b> na casa de cultura de Boiro.</li>
		</ol>
		</li>

<h5>Inscrición de traballos</h5>

	<li>Os/as participantes deberán rexistrarse en <a href="http://olloboi.com">olloboi.com</a> indicando un correo electrónico válido que a organización utilizará para futuras comunicacións sobre a súa participación no concurso.</li>
	<li>Cada participante poderá inscribir tantos traballos como desexe a través do formulario que atoparán en <a href="http://olloboi.com">olloboi.com</a>.</li>
	<li> Para inscribir un traballo haberá que introducir a seguinte información:
		<ol>
			<li><b>Dirección do vídeo en Internet</b>: URL de <a href="https://vimeo.com/">Vimeo</a> ou <a href="https://www.youtube.com/">Youtube</a> a través da que se pode acceder ao vídeo.</li>
			<li><b>Título do traballo</b>.</li>
			<li><b>Descrición</b>: onde se recomenda incluir unha breve sinopse, os créditos, e calquera outra información pública que poida ser de interese para a audiencia.</li>
			<li><b>Nivel Educativo</b>: ao que pertence maioritariamente o equipo que elaborou o traballo (Infantil, Primaria, ESO, etc.).</li>
			<li><b>Centro educativo</b>: colexio, instituto, escola, facultade, etc. de procedencia do traballo.</li>
			<li><b>Responsable do centro educativo</b>: especialmente no caso de traballos presentados por alumnado menor de idade, e para facilitar a validación dos mesmos por parte da organización, recoméndase proporcionar os datos dun profesor ou profesora do centro que avale ou coordine o traballo e que poida actuar de interlocutor do centro con Olloboi.</li>
			<li><b>Comentarios</b>: un campo extra opcional onde comentar calquera cousa sobre o traballo que de xeito privado se queira comunicar á organización. O seu contido será de uso interno e non se publicará.</li>
		</ol>
		</li>


<h5>Outras disposicións</h5>

	<li>Calquera cuestión que poida xurdir ó longo do desenvolvemento do festival e
		que non estea reflexada nestas bases será resolta pola organización do festival,
		e comunicada o mellor e máis orixinalmente que se vaia podendo :)</li>


					</ol>
				</div>
			</div>


			<h4>Sorte e a crear!!</h4>

{##################  FASE DE INSCRICIÓN
			<ul class="actions">
				<li><a href="/video/new" class="button special">Inscribir Vídeo</a></li>
			</ul>
#}


		</div>
	</section>
</article>

{% endblock %}
