{# base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block meta %}<meta charset="UTF-8" />{% endblock %}
        <title>{% block title %}Olloboi 2016 - Festival Audiovisual Escolar{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('logo50.jpg') }}" />
    </head>
    <body {% block bodyclass %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
