{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
}
	</style>
{% endblock %}


{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}

{% block content %}
{{ parent() }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Vídeos</h2>
					<p>Disfruta dos vídeos do concurso<br />
						e da Videoteca de anteriores edicións</p>
					<ul class="actions">
						<li><a href="#videos" class="button special">Vídeos Edición 2016 ({{ videos|length }})</a></li>
						<li><a href="http://videoteca.olloboi.com" class="button special">Videoteca Olloboi</a></li>

{#################  FASE DE VOTACIÓN #}
						<li><a href="http://goo.gl/forms/AxbuLvF0As" class="button special" target="_blank">Vota o Premio do Público!!</a></li>
{# #}
					</ul>
				</div>
				<a href="#videos" class="more scrolly">Máis...</a>
			</section>




			<section id="videos" class="wrapper style2">
				<div class="inner">

{% if videos %}


			<h4>{{ videos|length }} Vídeos Participantes</h4>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Nº</th>
							<th style="align:center">Título</th>
							<th>Centro Educativo</th>
						</tr>
					</thead>
					<tbody>
	{% for video in videos %}
				      <tr>
								<td>{{ loop.index }}</td>
								<td><a href="/video/show/{{ video.id }}">
										<span class="icon fa-search"><span class="label">Examinar</span></span>
										{{ video.title }}</a>
								</td>
								<td><a href="/school/show/{{ video.school.id }}">{{ video.school }}</a></td>
							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>


{% else %}
<ul class="icons major">
	<li><span class="icon fa-pause major style2"><span class="label">Ipsum</span></span></li>
</ul>

			<p>Aínda non hai vídeos inscritos e aceptados no concurso. A que esperas para presentar o teu?
				Estamos ansios@s de ver o teu traballo :)</p>
			<ul class="actions">
				<li><a href="/bases" class="button special">Bases 2016</a></li>
{##################  FASE DE INSCRICIÓN
				<li><a href="/video/new" class="button special">Inscribir Vídeo</a></li>
#}

{#################  FASE DE VOTACIÓN #}
						<li><a href="http://goo.gl/forms/AxbuLvF0As" class="button special" target="_blank">Vota o Premio do Público!!</a></li>
{# #}

			</ul>
{% endif %}


			</div>
		</section>



{% endblock %}
