{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/colaboradores.jpg");
}
	</style>
{% endblock %}


{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}

{% block content %}
{{ parent() }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
				<h2>Cómplices</h2>
				<p>Axúdanos a organizar Olloboi<br/>
					Contribúe á cultura e á educación</p>
				<ul class="actions">
					{### CROWDFUNDING <li><a href="http://vkm.is/olloboi2016" class="button special">Crowdfunding</a></li>#}
					<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
				</ul>
				<p>Moitas grazas!!! ;)</p>
				</div>
				<a href="#lista" class="more scrolly">Lista de cómplices..</a>
			</section>

	<section id="lista" class="wrapper style4">
		<div class="inner">


			<h4>Cómplices Olloboi 2016</h4>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>

	<tr><td>Yaiza Vicente Buceta  </td><td>Produción  		</td></tr>
	<tr><td>Esther Ferreiro  			</td><td>Colaboración TIC (App Android)  </td></tr>
	<tr><td>Xurxo Nine						</td><td>Montaxe Promo 	</td></tr>
	<tr><td>Dioni Espinal					</td><td>Imaxe e Son		</td></tr>
	<tr><td>Laura Triñanes				</td><td>Vídeo				 	</td></tr>
	<tr><td>Jose Mato  						</td><td>Colaboración TIC e Crowdfunding  </td></tr>
	<tr><td>Ángel Vidal  					</td><td>Xestión Económica e Crowdfunding  </td></tr>

	<tr><td>A.C. Canle (Lira)			</td><td>Patrocinio		 </td></tr>
	<tr><td>Serarte								</td><td>Patrocinio		 </td></tr>
	<tr><td>Mascolor							</td><td>Patrocinio		 </td></tr>
	<tr><td>Abadía San Enrique		</td><td>Patrocinio		 </td></tr>

	<tr><td>Carlos Negro					</td><td>Patrocinio		 </td></tr>
	<tr><td>Marcos Carracedo			</td><td>Patrocinio		 </td></tr>
	<tr><td>Gasolinera Garlou			</td><td>Patrocinio		 </td></tr>
	<tr><td>anacadenas						</td><td>Crowdfunding  </td></tr>
	<tr><td>Francisco Javier Paz Bueno	</td><td>Crowdfunding  </td></tr>
	<tr><td>Serabarrio						</td><td>Crowdfunding  </td></tr>
	<tr><td>albertodeboiro				</td><td>Crowdfunding  </td></tr>
	<tr><td>Iria									</td><td>Crowdfunding  </td></tr>
	<tr><td>Garrido´s							</td><td>Crowdfunding  </td></tr>
	<tr><td>Curi Boiro						</td><td>Crowdfunding  </td></tr>
	<tr><td>Ysa										</td><td>Crowdfunding  </td></tr>
	<tr><td>A Madriña Asociados		</td><td>Crowdfunding  </td></tr>
	<tr><td>Suso Santamaría				</td><td>Crowdfunding  </td></tr>
	<tr><td>Daniel García Dosil		</td><td>Crowdfunding  </td></tr>
	<tr><td>Pepe Mouriño					</td><td>Crowdfunding  </td></tr>
	<tr><td>Maite  								</td><td>Crowdfunding  </td></tr>
	<tr><td>Luz Beloso						</td><td>Crowdfunding  </td></tr>
	<tr><td>Federico Pérez				</td><td>Crowdfunding  </td></tr>
	<tr><td>Seso Durán						</td><td>Crowdfunding  </td></tr>
	<tr><td>Miguel Grandío				</td><td>Crowdfunding  </td></tr>
	<tr><td>Pascual Vidal					</td><td>Crowdfunding  </td></tr>
	<tr><td>Paula Tubío						</td><td>Crowdfunding  </td></tr>
	<tr><td>César Paredes					</td><td>Crowdfunding  </td></tr>
	<tr><td>Palmira Calvar  			</td><td>Crowdfunding  </td></tr>
	<tr><td>Bea Fernández  				</td><td>Crowdfunding  </td></tr>
	<tr><td>Sabela  							</td><td>Crowdfunding  </td></tr>
	<tr><td>Pilar Ponte  					</td><td>Crowdfunding  </td></tr>
	<tr><td>Miguel de Lira  			</td><td>Crowdfunding  </td></tr>
	<tr><td>Marga Centro Social  	</td><td>Crowdfunding  </td></tr>
	<tr><td>Xiao Berlai  					</td><td>Crowdfunding  </td></tr>
	<tr><td>Nacho Rodiño  				</td><td>Crowdfunding  </td></tr>
	<tr><td>Alexandra Pacheco  		</td><td>Crowdfunding  </td></tr>
	<tr><td>Ana Cermeño  					</td><td>Crowdfunding  </td></tr>
	<tr><td>Rodrigo del Val  			</td><td>Crowdfunding  </td></tr>
	<tr><td>Paula Cobas  					</td><td>Crowdfunding  </td></tr>

					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>


			<ul class="actions">
				{### CROWDFUNDING <li><a href="http://vkm.is/olloboi2016" class="button special">Crowdfunding</a></li>#}
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>

			<h4>Cómplices Olloboi edicións anteriores</h4>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>

	<tr><td>Pascual Vidal  				</td><td>Organización e Colaboración audiovisual  </td></tr>
	<tr><td>Miguel de Lira  			</td><td>Presentación e Colaboración audiovisual  </td></tr>
	<tr><td>Luis Avilés  					</td><td>Presentación e Colaboración audiovisual  </td></tr>
	<tr><td>Mónica García  				</td><td>Presentación e Colaboración audiovisual  </td></tr>
	<tr><td>Tonhito De Poi  			</td><td>Presentación e Colaboración audiovisual  </td></tr>
	<tr><td>X.Antonio Touriñán  	</td><td>Presentación e Colaboración audiovisual  </td></tr>
	<tr><td>Federico Pérez  			</td><td>Presentación, Xurado e Colaboración audiovisual  </td></tr>
	<tr><td>Manolo González  			</td><td>Xurado  </td></tr>
	<tr><td>Mariano Muñiz  				</td><td>Produción  </td></tr>
	<tr><td>Sabela Hermida  			</td><td>Colaboración audiovisual e Xurado  </td></tr>
	<tr><td>Alberto García  			</td><td> Xurado e Produción </td></tr>
	<tr><td>Nacho Rodiño  				</td><td>Xurado  </td></tr>
	<tr><td>Morris Durán  				</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Camila Bossa  				</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Marta Doviro  				</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Monti Castiñeiras  		</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Marcos Pereiro  			</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Xesús Ron  						</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Xiao Berlai  					</td><td>Colaboración musical  </td></tr>
	<tr><td>Lino Braxe  					</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Sabela Arán  					</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Quique García  				</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>María Yáñez  					</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Alfonso Zarauza  			</td><td>Colaboración audiovisual  </td></tr>
	<tr><td>Asteleiros Triñanes  	</td><td>Patrocinio  </td></tr>
	<tr><td>Redes JJChicolino  		</td><td>Patrocinio  </td></tr>
	<tr><td>Efectos náuticos Naval Chicolino</td><td>Patrocinio  </td></tr>
	<tr><td>Restaurante Chicolino </td><td>Patrocinio  </td></tr>
	<tr><td>Restaurante Moanín  	</td><td>Patrocinio  </td></tr>
	<tr><td>Restaurante Adria  		</td><td>Patrocinio  </td></tr>
	<tr><td>Restaurante Pulpería Caamaño</td><td>Patrocinio  </td></tr>
	<tr><td>Autocares Empresa Flora</td><td>Patrocinio  </td></tr>
	<tr><td>Electrodomésticos Otero</td><td>Patrocinio  </td></tr>
	<tr><td>Inmobiliaria García Sánchez Boiro SL</td><td>Patrocinio  </td></tr>
	<tr><td>Imprenta Serarte  		</td><td>Patrocinio  </td></tr>
	<tr><td>Bar Pousada das ánimas</td><td>Patrocinio  </td></tr>
	<tr><td>Imprenta Mascolor  		</td><td>Patrocinio  </td></tr>
	<tr><td>Electrodomésticos Barcala</td><td>Patrocinio  </td></tr>
	<tr><td>Autocares Outeiral  	</td><td>Patrocinio  </td></tr>
	<tr><td>Ferretería Tucho  		</td><td>Patrocinio  </td></tr>
	<tr><td>Inmobiliaria Mundicasa</td><td>Patrocinio  </td></tr>
	<tr><td>Arquitectura 90 grados, Pobra</td><td>Patrocinio  </td></tr>
	<tr><td>Mancomunidade Arousa Norte</td><td>Patrocinio  </td></tr>
	<tr><td>Restaurante Gadis  		</td><td>Patrocinio  </td></tr>
	<tr><td>Reprografía Publicer  </td><td>Patrocinio  </td></tr>
	<tr><td>Efectos náuticos Hispania</td><td>Patrocinio  </td></tr>
	<tr><td>Clínica Gonzalo				</td><td>Patrocinio  </td></tr>
	<tr><td>Bar Touliña						</td><td>Patrocinio  </td></tr>
	<tr><td>Bar Dasilva						</td><td>Patrocinio  </td></tr>
	<tr><td>Brico Pestañas				</td><td>Patrocinio  </td></tr>
	<tr><td>Neo										</td><td>Patrocinio  </td></tr>
	<tr><td>Casa Magán						</td><td>Patrocinio  </td></tr>
	<tr><td>Meigallo							</td><td>Patrocinio  </td></tr>
	<tr><td>Bar Bocacho						</td><td>Patrocinio  </td></tr>
	<tr><td>Óptica Barraña				</td><td>Patrocinio  </td></tr>
	<tr><td>Rick’s								</td><td>Patrocinio  </td></tr>
	<tr><td>Fiada									</td><td>Patrocinio  </td></tr>
	<tr><td>Batea de Juan					</td><td>Patrocinio  </td></tr>
	<tr><td>V Club Óscar					</td><td>Patrocinio  </td></tr>
	<tr><td>Baldani								</td><td>Patrocinio  </td></tr>
	<tr><td>Botavara							</td><td>Patrocinio  </td></tr>
	<tr><td>Power Music						</td><td>Patrocinio  </td></tr>
	<tr><td>Car Music							</td><td>Patrocinio  </td></tr>

					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>

			<ul class="actions">
				{### CROWDFUNDING <li><a href="http://vkm.is/olloboi2016" class="button special">Crowdfunding</a></li>#}
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>





		</div>
	</section>

{% endblock %}
