{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Olloboi 2016 - Programa Encontro{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/ProgramaPortada.jpg");
}
	</style>
{% endblock %}


{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}

{% block content %}
{{ parent() }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Encontro Olloboi 2016</h2>
					<p>Consulta o programa..
					e inscríbete nas actividades</p>
					<ul class="actions">

{#################  FASE DE VOTACIÓN #}
						<li><a href="#programa" class="button special">Programa</a></li>
{#						<li><a target="_blank" href="https://docs.google.com/forms/d/1hcWPZr8O_ydAX1MB8OD2wW15a3s0bZDeXhotuRHNKBo/viewform?c=0&w=1" class="button special">
									 Inscríbete!!</a></li>   #}
						<li><a href="#comochegar" class="button special">Como chegar?</a></li>
{# #}

					</ul>
				</div>
				<a href="#programa" class="more scrolly">Continúa...</a>
			</section>



		<!-- Programa -->
			<section id="programa" class="wrapper style2">
				<div class="inner">
					<header class="major">

						<h2>Programa Encontro Olloboi 2016</h2>
						<p>Un programa de 2 días de actividades para toda a comunidade Cómplice Olloboi
							nas que todo o mundo pode participar e disfrutar, sen importar idade nin ocupación.</p>

						<div class="image left"><a href="images/ProgramaPortadaGrande.png"><img src="images/ProgramaPortada.jpg" alt="" /></a></div>
						<div class="image right"><a href="images/ProgramaEncontro01.png"><img src="images/ProgramaEncontro01.png" alt="" /></a></div>
						<div class="image left"><a href="images/ProgramaEncontro02.png"><img src="images/ProgramaEncontro02.png" alt="" /></a></div>
						<div class="image right"><a href="images/ProgramaEncontroMapa.png"><img src="images/ProgramaEncontroMapa.png" alt="" /></a></div>
<br /><br />
		<h4><strong><a target="_blank" href="docs/ProgramaPresentacion.pdf">
								Descarga o Programa en PDF</a>!</strong></h4>
<br /><br />
								<ul>
									<li><strong>Ollobradoiros</strong> de audiovisual e cine (<a href="http://www.culturagalega.org/avg/persoas_detalle.php?Cod_prsa=1450&amp;busca=Alfonso+Zarauza">Alfonso Zarauza</a>), audiovisual e web (<a href="http://www.aisge.es/el-metodo-sueco">Método Sueco</a>), audiovisual e TV (Carlos Ares, de <a href="http://www.clag.es/catalogo/public/index.php?seccion=directorio_lista.php&amp;empresa=&amp;actividad=1&amp;provincia=&amp;id_empresa=308">Producións Zopilote</a>) e interpretación (<a href="http://www.crtvg.es/cultural/corte-a-corte/sabela-hermida-actriz">Sabela Hermida</a>). No IES A Cachada</li>
									<li><strong>Charla</strong> de <a href="http://praza.gal/cultura/6756/a-paixon-de-manolo-gonzalez-polo-audiovisual-premio-de-honra/">Manolo González</a> (no IES A Cachada)</li>
									<li><strong>Ollocineforum Asteleiros Triñanes</strong>, <a href="https://gl.wikipedia.org/wiki/Crebinsky">Crebinsky </a>(con <a href="http://culturagalega.org/avg/persoas_detalle.php?Cod_prsa=770&amp;busca=Enrique%20Otero">Quique Otero</a> e <a href="http://www.aisge.es/miguel-de-lira">Miguel de Lira</a>)</li>
									<li><strong>Entrega de premios</strong> con X.A. Touriñán, <a href="https://www.youtube.com/watch?v=vGCUASuoI9o">Sabela Arán</a> e Federico Pérez (Casa Cultura A Cachada)</li>
									<li><strong>Concerto</strong> de <a href="https://issuu.com/moreiras26/docs/dosier_pan_de_capazo?e=1217989/35613180">Pan de Capazo</a> (Pousada das Ánimas)</li>
									<li><strong>Fin de festa</strong>: DJ Crebinsky (Pousada das Ánimas)</li>
								</ul>


{#		<h4><strong><a target="_blank" href="https://docs.google.com/forms/d/1hcWPZr8O_ydAX1MB8OD2wW15a3s0bZDeXhotuRHNKBo/viewform?c=0&w=1">
								Inscríbete nas actividades</a>!!</strong></h4>    #}
<br /><br />
{############## PROMO #}
<iframe src="https://www.youtube.com/embed/N4CTbQOAq20" frameborder="0" allowfullscreen></iframe>


{############## COMO CHEGAR? #}
<div id="comochegar"><br /><br /></div>
<h4><strong>Como chegar?</strong></h4>
<p>Consulta o <a href="https://drive.google.com/open?id=1FJzt3RzP6jVrv5u9WOuPQA2BbAM">
	mapa do programa</a>:</p>
		<ul>
			<li><a href="https://maps.google.com/?cid=7220934465466353088">
				Centro Social de Boiro</a></li>
			<li><a href="https://maps.google.com/?cid=5934338464931707104">
				IES A Cachada</a></li>
			<li><a href="https://maps.google.com/?cid=5258286986341563769">
				Abadía San Enrique</a></li>
			<li><a href="https://maps.google.com/?cid=2529210925863746710">
				Asteleiros Triñanes</a></li>
			<li><a href="https://maps.google.com/?cid=11832972855924033379">
				Casa da Cultura de Boiro</a></li>
			<li><a href="https://maps.google.com/?cid=5727911812638031658">
				Pousada das Ánimas</a></li>
		</ul>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1FJzt3RzP6jVrv5u9WOuPQA2BbAM" width="320" height="240"></iframe>


							<ul class="actions">
								{### CROWDFUNDING <li><a href="http://vkm.is/olloboi2016" class="button special">Crowdfunding</a></li>#}
								<li><a target="_blank" href="https://docs.google.com/forms/d/1hcWPZr8O_ydAX1MB8OD2wW15a3s0bZDeXhotuRHNKBo/viewform?c=0&w=1" class="button special">
											 Inscríbete!!</a></li>
								<li><a href="/finalistas" class="button special">Finalistas</a></li>
								<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
							</ul>

					</header>
				</div>
			</section>


{% endblock %}
