{# about.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<!-- Main -->
<article id="main">
	<section class="wrapper style5">
		<div class="inner">

			<h3>Preguntas e Respostas</h3>
			<p>Se non atopas resposta ao que buscas fainos chegar as túas preguntas a <a href="mailto:info@olloboi.com">info@olloboi.com</a></p>

			<h3>Número de Vídeos Aceptados {{ NumVideosAceptados }}</h3>

			<div class="row">
				<div class="11u$ 12u$(medium)">
					<dl>
<h4>Acceso a Olloboi.com</h4>
	<dt><b>Ao acceder á web desde o navegador recibo unha mensaxe que di que a conexión non é privada.</b></dt>
	<dd>A web de Olloboi só é accesible de xeito seguro e cifrado usando os servizos de Let's Encrypt.
	Temos detectado algúns problemas de acceso cando se utilizan navegadores desactualizados ou sistemas operativos
	sen mantemento como Windows XP. A nosa recomendación é utilizar un sistema operativo actualizado e un navegador
	como Firefox.</dd>
	<br>

<h4>Inscrición de vídeos</h4>
	<dt><b>Gustaríame presentar un traballo novo por libre. Podería facelo sen haber un profesor de por medio?</b></dt>
	<dd>podes participar pola túa conta sen profesor de por medio, sí. Pero segundo as bases, se es menor de 18 anos
	tes que participar baixo a responsabilidade dos teus pais ou do teu titor ou titora legal.
Tamén asociamos os traballos aos centros educativos, polo que deberías cubrir ese apartado tamén.
Por iso tamén sería conveniente que polo menos informaras ao teu titor ou titora,
aínda que non participe na elaboración do vídeo. </dd>

<br>

	<dt><b>Como obteño a URL do meu vídeo?</b></dt>
	<dd>Moitas veces a dirección web que se amosa na barra de direccións do navegador mentres vemos un vídeo
	non é a dirección máis correcta do vídeo, xa que pode incluir outros parámetros, unha lista de reproducción, etc.
	Tanto Youtube como Vimeo dispoñen de utilidades para obter unha dirección curta e sinxela do tipo
	<a href="https://youtu.be/YkGkBhLcgoQ">https://youtu.be/YkGkBhLcgoQ </a> para Youtube ou
	<a href="https://vimeo.com/156296331">https://vimeo.com/156296331 </a> para Vimeo.</dd>

					</dl>
				</div>
			</div>

{##################  FASE DE INSCRICIÓN
			<ul class="actions">
				<li><a href="/video/new" class="button special">Inscribir Vídeo</a></li>
				<li><a href="http://vkm.is/olloboi2016" class="button special">Crowdfunding</a></li>
			</ul>
#}

		</div>
	</section>
</article>

{% endblock %}
