{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Olloboi 2016 - Finalistas{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/espectadores.jpg");
}
	</style>
{% endblock %}


{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}

{% block content %}
{{ parent() }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Finalistas</h2>
					<p>Disfruta dos vídeos finalistas de Olloboi 2016<br />
					</p>
					<ul class="actions">
						<li><a href="#Cómico" class="button special">Cómico</a></li>
						<li><a href="#Peleón" class="button special">Peleón</a></li>
						<li><a href="#Fotoxénico" class="button special">Fotoxénico</a></li>
						<li><a href="#DJ" class="button special">DJ</a></li><br />
						<li><a href="#Guión" class="button special">Guión</a></li>
						<li><a href="#Animado" class="button special">Animado</a></li>
						<li><a href="#Doc" class="button special">Doc</a></li>
						<li><a href="#Universitario" class="button special">Universitario</a></li>
						<li><a href="#Online" class="button special">Online</a></li>
					</ul>
				</div>
				<a href="#videos" class="more scrolly">Máis...</a>
			</section>




			<section id="videos" class="wrapper style2">
				<div class="inner">

{################   OLLOBOI CÓMICO ###############}
<div id="Cómico"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/comico.png" width="100" alt="" /></a></div>

	<h3>Olloboi Cómico</h3>

	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Título</th>
					<th>Centro Educativo</th>
				</tr>
			</thead>
			<tbody>
{% for video in videosComico %}
		      <tr>
						<td><a href="/video/show/{{ video.video.id }}">
								<span class="icon fa-search"><span class="label">Examinar</span></span>
								{{ video.video.title }}</a>
						</td>
						<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
					</tr>
{% endfor %}
			</tbody>
			<tfoot>
				<tr>
				</tr>
			</tfoot>
		</table>
	</div>

	{# BOTÓNS #}
		<ul class="actions">
			<li><a href="/encontro" class="button special">Programa Encontro</a></li>
			<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
		</ul>
	{##}

{################   OLLOBOI PELEÓN ###############}
<div id="Peleón"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/peleon.png" width="100" alt="" /></a></div>

		<h3>Olloboi Peleón</h3>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Centro Educativo</th>
					</tr>
				</thead>
				<tbody>
{% for video in videosPeleon %}
			      <tr>
							<td><a href="/video/show/{{ video.video.id }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ video.video.title }}</a>
							</td>
							<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
						</tr>
{% endfor %}
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>

		{# BOTÓNS #}
			<ul class="actions">
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
		{##}

{################   OLLOBOI FOTOXÉNICO ###############}
<div id="Fotoxénico"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/fotoxenico.png" width="100" alt="" /></a></div>

		<h3>Olloboi Fotoxénico</h3>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Centro Educativo</th>
					</tr>
				</thead>
				<tbody>
{% for video in videosFotoxenico %}
			      <tr>
							<td><a href="/video/show/{{ video.video.id }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ video.video.title }}</a>
							</td>
							<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
						</tr>
{% endfor %}
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>

		{# BOTÓNS #}
			<ul class="actions">
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
		{##}

{################   OLLOBOI DJ ###############}
<div id="DJ"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/dj.png" width="100" alt="" /></a></div>

		<h3>Olloboi DJ</h3>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Centro Educativo</th>
					</tr>
				</thead>
				<tbody>
{% for video in videosDJ %}
			      <tr>
							<td><a href="/video/show/{{ video.video.id }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ video.video.title }}</a>
							</td>
							<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
						</tr>
{% endfor %}
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>

		{# BOTÓNS #}
			<ul class="actions">
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
		{##}

{################   OLLOBOI GUIÓN ###############}
<div id="Guión"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/guion.png" width="100" alt="" /></a></div>

		<h3>Olloboi Guión</h3>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Centro Educativo</th>
					</tr>
				</thead>
				<tbody>
{% for video in videosGuion %}
			      <tr>
							<td><a href="/video/show/{{ video.video.id }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ video.video.title }}</a>
							</td>
							<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
						</tr>
{% endfor %}
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>

		{# BOTÓNS #}
			<ul class="actions">
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
		{##}

{################   OLLOBOI ANIMADO ###############}
<div id="Animado"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/animado.png" width="100" alt="" /></a></div>

		<h3>Olloboi Animado</h3>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Centro Educativo</th>
					</tr>
				</thead>
				<tbody>
{% for video in videosAnimado %}
			      <tr>
							<td><a href="/video/show/{{ video.video.id }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ video.video.title }}</a>
							</td>
							<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
						</tr>
{% endfor %}
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>

		{# BOTÓNS #}
			<ul class="actions">
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
		{##}

{################   OLLOBOI DOC ###############}
<div id="Doc"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/doc.png" width="100" alt="" /></a></div>

		<h3>Olloboi Doc</h3>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Centro Educativo</th>
					</tr>
				</thead>
				<tbody>
{% for video in videosDoc %}
			      <tr>
							<td><a href="/video/show/{{ video.video.id }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ video.video.title }}</a>
							</td>
							<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
						</tr>
{% endfor %}
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>

		{# BOTÓNS #}
			<ul class="actions">
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
		{##}


{################   OLLOBOI UNIVERSITARIO ###############}
<div id="Universitario"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/universitario.png" width="100" alt="" /></a></div>

		<h3>Olloboi Universitario</h3>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Centro Educativo</th>
					</tr>
				</thead>
				<tbody>
{% for video in videosUniversitario %}
			      <tr>
							<td><a href="/video/show/{{ video.video.id }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ video.video.title }}</a>
							</td>
							<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
						</tr>
{% endfor %}
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>

		{# BOTÓNS #}
			<ul class="actions">
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
		{##}

{################   OLLOBOI ONLINE ###############}
<div id="Online"><br /></div>
<div class="image"><a href="#"><img src="images/categorias/online.png" width="100" alt="" /></a></div>

		<h3>Olloboi Online</h3>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Centro Educativo</th>
					</tr>
				</thead>
				<tbody>
{% for video in videosPublico %}
			      <tr>
							<td><a href="/video/show/{{ video.video.id }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ video.video.title }}</a>
							</td>
							<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
						</tr>
{% endfor %}
				</tbody>
				<tfoot>
					<tr>
					</tr>
				</tfoot>
			</table>
		</div>

		{# BOTÓNS #}
			<ul class="actions">
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
		{##}


			</div>
		</section>



{% endblock %}
