{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/desenho2016.png");
}
	</style>
{% endblock %}


{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}

{% block content %}
{{ parent() }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Olloboi 2016</h2>
					<p>Festival<br />
					Audiovisual<br />
					Escolar</p>
					<ul class="actions">


{##################  FASE DE INSCRICIÓN
<!--						<li><a href="/creadores" class="button special">Creador@s</a></li>
						<li><a href="/videos" class="button special">Vídeos</a></li>
						<li><a href="http://vkm.is/olloboi2016" class="button special">Crowdfunding</a></li>-->
						<li><a href="/bases" class="button special">Bases 2016</a></li>
						<li><a href="/video/new" class="button special">Inscribir Vídeo</a></li>
						<li><a href="/videos#videos" class="button special">Vídeos 2016</a></li>
						<li><a href="/complices" class="button special">Cómplices</a></li>
#}

{#################  FASE DE VOTACIÓN
						<li><a href="/videos#videos" class="button special">Vídeos 2016</a></li>
						<li><a href="http://goo.gl/forms/AxbuLvF0As" class="button special" target="_blank">Vota o Premio do Público!!</a></li>
						<li><a href="/complices" class="button special">Cómplices</a></li>
#}
{#################  FASE FINAL, ENCONTRO
<li><a href="/finalistas" class="button special">Finalistas</a></li>
<li><a href="/encontro" class="button special">Programa Encontro</a></li>
<li><a target="_blank" href="https://docs.google.com/forms/d/1hcWPZr8O_ydAX1MB8OD2wW15a3s0bZDeXhotuRHNKBo/viewform?c=0&w=1" class="button special">
			 Inscríbete!!</a></li>

#}
{#################  FIN DO FESTIVAL #}
<li><a href="/premios" class="button special">Premios Edición 2016</a></li>
<li><a href="/creadores#outros_festivais" class="button special">Outros Festivais</a></li>





					</ul>
				</div>
				<a href="#one" class="more scrolly">Continúa...</a>
			</section>




		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<div class="inner">
					<header class="major">
{##################  FASE DE INSCRICIÓN
						<h2>Aí o vén Olloboi 2016!!</h2>
						<p>Xente, aquí estamos, ide preparando as vosas videocreacións que a cousa está a arrincar. A entrega de premios vai ser o <strong>sábado 28 de maio</strong>, pero ollo que teremos novidades!<br />
						<br />
						Para esta edición redactamos un <strong><a href="https://drive.google.com/file/d/0Bxwr6wIFgayed0VxYk0yeFN2OUk/view?usp=sharing" target="_blank">
							proxecto</a></strong> co que pedir axudas ás institucións,
							actualizamos a nosa <strong><a href="http://videoteca.olloboi.com" target="_blank">videoteca</a></strong>,
							e adiantamos xa as <strong><a href="/bases">bases</a></strong> xerais de participación.<br />
						<br />
						Pero a peza fundamental sodes vós, creadores e creadoras dos centros escolares galegos.
						Precisamos das vosas <strong>videocreacións</strong>, da vosa <strong>ilusión</strong>,
						e se queredes ir un paso máis aló, da vosa axuda económica.
						Este ano podedes axudarnos a producir o festival a través dun
						<a href="http://vkm.is/olloboi2016" <strong>crowdfunding </strong></a>
							co que conseguir camisetas e regalos exclusivos. En breve teredes máis información!</p>

						<h3><strong>Axudádesnos a organizar o Olloboi 2016??</strong></h3>
#}


{##################  FASE DE VOTACIÓN
		<h2>Xa temos <a href="/finalistas">Finalistas</a>!!</h2>
<br />
<iframe src="https://www.youtube.com/embed/N4CTbQOAq20" frameborder="0" allowfullscreen></iframe>

		<h2>O 27 e 28 de maio en Boiro.. <a href="/encontro">Encontro Olloboi</a>!!  <br />
				Consulta o <a href="/encontro">Programa</a> e
				<a target="_blank" href="https://docs.google.com/forms/d/1hcWPZr8O_ydAX1MB8OD2wW15a3s0bZDeXhotuRHNKBo/viewform?c=0&w=1">
						 Inscríbete</a>!!
		</h2>
<br />
		<h4>234 traballos participantes!!</h4>
<br />
		<h4>59 centros educativos!!</h4>

		<div style="text-align:center;">
				<iframe src="https://www.google.com/maps/d/embed?mid=1TKo1oPCBtfRqmKgTnAAKXbFXmpw&hl=gl" width="250" height="250"></iframe>
		</div>
<br />

#}


{##################  FIN DO FESTIVAL	#}
		<h2>Xa temos <a href="/premios">Gañador@s</a>!!</h2>
<br />
<p>Disfruta dos traballos premiados na sección de <a href="/premios">Premios Olloboi</a>!!</p>

<iframe src="https://www.youtube.com/embed/N4CTbQOAq20" frameborder="0" allowfullscreen></iframe>

		<p>Os días 27 e 28 de maio celebrouse en Boiro o <a href="/encontro">Encontro Olloboi</a>!!  <br />

		</p>
<br />
		<h4>234 traballos participantes!!</h4>
<br />
		<h4>59 centros educativos!!</h4>

		{#################  MAPA DE CENTROS #}
		<div style="text-align:center;">
				<iframe src="https://www.google.com/maps/d/embed?mid=1TKo1oPCBtfRqmKgTnAAKXbFXmpw&hl=gl" width="250" height="250"></iframe>
		</div>
<br />


							<ul class="actions">
								{### CROWDFUNDING <li><a href="http://vkm.is/olloboi2016" class="button special">Crowdfunding</a></li>#}
								<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
							</ul>


					</header>
				</div>
			</section>



{% endblock %}
