{# layout.html.twig #}
{% extends 'base.html.twig' %}



{% block meta %}
{{ parent() }}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}



{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('assets/css/ie8.css') }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('assets/css/ie9.css') }}" /><![endif]-->
{% endblock %}



{% block javascripts %}
{{ parent() }}
<!-- Scripts -->
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ asset('assets/js/skel.min.js') }}"></script>
	<script src="{{ asset('assets/js/util.js') }}"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}



{% block body %}

<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% block headerclass %}{% endblock %}>
		<h1><a href="/">Olloboi 2016</a></h1>
		<nav id="nav">
			<ul>
			<li class="special">
				<a href="#menu" class="menuToggle"><span>Menu</span></a>
				<div id="menu">
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/premios">Premios</a></li>
						<li><a href="/finalistas">Finalistas</a></li>
						<li><a href="/encontro">Encontro</a></li>
{#						<li><a target="_blank" href="https://docs.google.com/forms/d/1hcWPZr8O_ydAX1MB8OD2wW15a3s0bZDeXhotuRHNKBo/viewform?c=0&w=1" class="button special">
									 Inscríbete!!</a></li>    #}

						<li><a href="/videos">Vídeos</a></li>
						<li><a href="/complices">Cómplices</a></li>
						<li><a href="/creadores">Creador@s</a></li>
						<li><a href="/sobre-olloboi">Sobre Olloboi</a></li>
						<li><a href="http://blog.olloboi.com">Blog</a></li>


						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="/profile">{{ app.user.username }}</a></li>
								{% if is_granted("ROLE_ADMIN") %}
										<li><a href="/admin">Admin</a></li>
								{% endif %}
								<li><a href="{{ path('fos_user_security_logout') }}">Saír</a></li>
            {% else %}
								{# <li><a href="/register">Rexistrarse</a></li> #}
								<li><a href="/login">Entrar</a></li>
            {% endif %}

						{% for type, messages in app.session.flashBag.all %}
		            {% for message in messages %}
		                <div class="{{ type }}">
		                    {{ message|trans({}, 'FOSUserBundle') }}
		                </div>
		            {% endfor %}
		        {% endfor %}
					</ul>
				</div>
			</li>
			</ul>
		</nav>
	</header>





{% block content %}


{% endblock %}





	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="http://blog.olloboi.com/" class="icon fa-wordpress"><span class="label">Wordpress</span></a></li>
			<li><a href="http://www.facebook.com/pages/OlloBoi/194661663888855" class="icon fa-facemybook"><span class="label">Facebook</span></a></li>
			<li><a href="http://videoteca.olloboi.com" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
			<li><a href="http://www.youtube.com/user/RodaxeObradoiro" class="icon fa-youmytube"><span class="label">Youtube</span></a></li>
			<li><a href="http://twitter.com/olloboi" class="icon fa-twimytter"><span class="label">Twitter</span></a></li>
			<li><a href="http://instagram.com/olloboi" class="icon fa-mygram"><span class="label">Instagram</span></a></li>
			<li><a href="mailto:info@olloboi.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li><a href="https://creativecommons.org/" class="icon fa-creative-commons"><span class="label">Creative Commons</span></a> Olloboi</li>
			<li>Deseño con <span class="icon fa-heart"></span> baseado en <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>

</div>



{% endblock %}
