{# index.html.twig #}
{% extends 'layout.html.twig' %}


{% block bodyclass %}class="landing"{% endblock %}

{% block content %}
{{ parent() }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Olloboi 2016</h2>
					<p>Festival<br />
					Audiovisual<br />
					Escolar</p>
					<ul class="actions">
						<li><a href="#" class="button special">Creador</a></li>
						<li><a href="#" class="button special">Espectador</a></li>
					</ul>
				</div>
				<a href="#one" class="more scrolly">Comeza a viaxe</a>
			</section>


		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>Qué é Olloboi?<br />
						Misión e Visión</h2>
						<p>Cales son os seus principios e obxectivos? (Misión e Visión)<br />
						fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
					</header>
					<ul class="icons major">
						<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
						<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
						<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
					</ul>
				</div>
			</section>


		<!-- Two -->
			<section id="two" class="wrapper alt style2">
				<section class="spotlight">
					<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
						<h2>Breve <br />
						Historia</h2>
						<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
					</div>
				</section>
				<section class="spotlight">
					<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
						<h2>Algunhas <br />
						Cifras</h2>
						<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
					</div>
				</section>
				<section class="spotlight">
					<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
						<h2>Equipo <br />
						Humán</h2>
						<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
					</div>
				</section>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major">
						<h2>3 Accumsan mus tortor nunc aliquet</h2>
						<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
					</header>
					<ul class="features">
						<li class="icon fa-paper-plane-o">
							<h3>Arcu accumsan</h3>
							<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
						<li class="icon fa-laptop">
							<h3>Ac Augue Eget</h3>
							<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
						<li class="icon fa-code">
							<h3>Mus Scelerisque</h3>
							<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
						<li class="icon fa-headphones">
							<h3>Mauris Imperdiet</h3>
							<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
						<li class="icon fa-heart-o">
							<h3>Aenean Primis</h3>
							<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
						<li class="icon fa-flag-o">
							<h3>Tortor Ut</h3>
							<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
						</li>
					</ul>
				</div>
			</section>


		<!-- CTA -->
			<section id="cta" class="wrapper style4">
				<div class="inner">
					<header>
						<h2>4 Arcue ut vel commodo</h2>
						<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
					</header>
					<ul class="actions vertical">
						<li><a href="#" class="button fit special">Activate</a></li>
						<li><a href="#" class="button fit">Learn More</a></li>
					</ul>
				</div>
			</section>

{% endblock %}






