{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Olloboi 2016 - Premios!!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Gala2016.jpg");
}
	</style>
{% endblock %}


{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}

{% block content %}
{{ parent() }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Premios Olloboi 2016</h2>
					<p>Parabéns a tod@s @s gañador@s e participantes!!!<br />
					</p>
					<ul class="actions">
						<li><a href="#Premios" class="button special">Premios</a></li>
					</ul>
				</div>
				<a href="#videos" class="more scrolly">Máis...</a>
			</section>




			<section id="videos" class="wrapper style2">
				<div class="inner">

{################   PREMIOS OLLOBOI 2016 ###############}
<div id="Premios"><br /></div>

<h3>Premios Olloboi 2016</h3>
<p>O pasado 28 de maio falláronse os premios Olloboi 2016 na gala celebrada na Casa da Cultura de Boiro,
	tras un longo día de encontros, aprendizaxe, risas, emocións e moita ilusión. <br/>
	Despois dun novo récord de participación e con traballos que cada vez teñen máis calidade,
	non foi nada doado decidir os gañadores.<br />
  Olloboi é un festival que persegue recopilar, recoñecer, difundir e motivar para seguir traballando
	o audiovisual nas aulas con todo o que iso supón. Interésanos procurar encontros, unión e colaboración máis que competición.<br />
	Trala selección de finalistas feita pola organización, a elección dos gañadores da maioría de categorías
	corresponde ao xurado que nesta edición estivo composto polas actrices Sabela Arán e Sabela Hermida
	e o profesor e músico Fernando Abreu, todos eles recoñecidos profesionais que de xeito altruista
	levaron a cabo esta difícil tarefa. <br />

 	Tras días de atento visionado e arduas deliberacións finalmente o veredicto concretouse
 	durante o mesmo Encontro Olloboi, sen desvelar os traballos gañadores ata a mesma gala
 	de entrega de premios. A continuación, os traballos premiados nesta edición 2016.
</p>
<h4 style="text-align:center">Parabéns a tod@s!! :)</h4>

<hr>

<h4>Premio especial Videopoema</h4>
<p>O Premio Videopoema incluíuse por primeira vez nesta edición grazas a unha doazón de última hora por parte do IES A Cachada.
O propio patrocinador decidíu o traballo merecedor do premio que recaeu no seguinte vídeo:</p>
<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Premio</th>
				<th>Título</th>
				<th>Centro Educativo</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>Videopoema</td>
					<td><a href="/video/show/204">
							<span class="icon fa-search"><span class="label">Examinar</span></span>
							A Loita Final</a>
					</td>
					<td><a href="/school/show/15027851">IES A Cachada - Boiro</a></td>
				</tr>
		</tbody>
		<tfoot>
			<tr>
			</tr>
		</tfoot>
	</table>
</div>


<br />
<h4>Categorías Principais</h4>
<p>Estas categorías de premios buscan salientar e recoñecer as propostas que destacan pola súa
comicidade, fotoxenia, combatividade, música orixinal ou adaptada, etc. Todos estes premios, agás o
	Online que se decide exclusivamente polas votacións do público, son outorgados polo xurado
	a partir dos finalistas seleccionados pola organización.
</p>
<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Premio</th>
				<th>Título</th>
				<th>Centro Educativo</th>
			</tr>
		</thead>
		<tbody>
			{% for video in videosPremios %}
			<tr>
				<td>
					<div class="image"><a href="#"><img src="images/categorias/{{ video.categoria.nome }}.png" width="30" alt="" /></a></div>
					{{ video.categoria.nome }}
				</td>
				<td><a href="/video/show/{{ video.video.id }}">
					<span class="icon fa-search"><span class="label">Examinar</span></span>
					{{ video.video.title }}</a>
				</td>
				<td><a href="/school/show/{{ video.video.school.id }}">{{ video.video.school }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
			</tr>
		</tfoot>
	</table>
</div>

<br />
<h4>Premio Zamburrioi</h4>
<p>O premio entregado pola propia organización do festival, onde ademais dos criterios xerais
das bases pódense ter en conta outros coma a traxectoria audiovisual do centro educativo, a participación da comunidade educativa, etc.<br />
Polo gran traballo levado a cabo durante anos no uso do audiovisual como ferramenta educativa,
pola cantidade e calidade dos seus traballos presentados, o premio Zamburrioi concedido pola organización de Olloboi foi para...</p>

<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Premio</th>
				<th>Centro Educativo</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>
						<div class="image"><a href="#"><img src="images/categorias/Zamburrioi.png" width="30" alt="" /></a></div>
						Zamburrioi
					</td>
					<td><a href="/school/show/36018999">IES As Barxas</a></td>
				</tr>
		</tbody>
		<tfoot>
			<tr>
			</tr>
		</tfoot>
	</table>
</div>

<h3 style="text-align:center">Parabéns a tod@s!! <br />
	e ata a vindeira edición de Olloboi... ;)</h3>

	{# BOTÓNS #}
		<ul class="actions" style="text-align:center">
			<li><a href="/finalistas" class="button special">Finalistas</a></li>
			<li><a href="/videos" class="button special">Todos os vídeos</a></li>
			<li><a href="/creadores#outros_festivais" class="button special">Outros Festivais</a></li>
			{#<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>#}
		</ul>
	{##}


			</div>
		</section>



{% endblock %}
