{# prensa-e-medios.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<!-- Main -->
<article id="main">
	<section class="wrapper style5">
		<div class="inner">
			<h2>Prensa e Medios</h2>
			<p>Aparicións do Festival Audiovisual Olloboi nos Medios de Comunicación</p>

			<h3>Olloboi 2015</h3>
			<ul>
				<li>11 Agosto 2015 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/ourense/o-carballino/2015/08/11/xociviga-abren-manana-telon-treintena-proyecciones-cartel/00031439237462288518509.htm" target="_blank">Participación de Olloboi nas Xornadas Xociviga de Carballiño</a></li>
				<li>La Voz de Galicia: Dossier de imaxes do Día Olloboi (<a href="http://www.lavozdegalicia.es/album/barbanza/boiro/2015/06/01/festival-audiovisual-escolar-olloboi-boiro/01101433102570222608688.htm" target="_blank">30 fotos</a>)</li>
				<li>5 Xuño 2015 - Faro de Vigo: <a href="http://www.farodevigo.es/tags/premio-olloboi.html" target="_blank">premios Olloboi 2015</a></li>
				<li>2 Xuño 2015 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/arousa/vilagarcia-de-arousa/2015/06/02/olloboi-desborda-as-previsions-amosase-referente-galego/0003_201506A2C6991.htm" target="_blank">Olloboi desborda as previsións e convértese no referente do audiovisual escolar galego</a></li>
				<li>1 Xuño 2015 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/barbanza/boiro/2015/06/01/unha-gala-a-altura-dos-mestre-mateo/0003_201506B1C2993.htm" target="_blank">Unha gala á altura dos Mestre Mateo</a></li>
				<li>28 Maio 2015 - Praza.gal: <a href="http://praza.gal/cultura/9571/o-audiovisual-do-futuro-comeza-a-navegar-no-olloboi/" target="_blank">O audiovisual do futuro comeza a navegar en Olloboi</a></li>
				<li>5 Maio 2015 - RTVG: <a href="http://www.crtvg.es/informativos/o-colectivo-marearte-de-boiro-convoca-unha-nova-edicion-do-festival-audiovisual-olloboi-1134132" target="_blank">A Revista da CRTVG recolle o festival</a></li>
				<li>Blog de novas do Morrazo: <a href="http://morrazoaldia.com/la-creatividad-de-as-barxas-triunfa-en-el-festival-olloboi/" target="_blank">premio das Barxas</a></li>
				<li>Olloboi no Boletín oficial da Consellería de Educación</li>
			</ul>


			<h3>Olloboi 2014</h3>
			<ul>
				<li>14 Maio 2014 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/barbanza/2014/05/14/span-langgl-proxecto-altruista-nunca-ten-garantida-continuidadespan/0003_201405B14C119915.htm" target="_blank">«Un proxecto altruísta nunca ten garantida a continuidade»</a></li>
				<li>7 Maio 2014 - Praza Pública: <a href="http://praza.com/cultura/7082/mais-dun-cento-de-producions-compiten-no-festival-audiovisual-olloboi-2014/" target="_blank">Máis dun cento de producións compiten no Festival Audiovisual Olloboi 2014</a></li>
				<li>7 Maio 2014 - Europa Press: <a href="http://www.europapress.es/galicia/noticia-mas-centenar-producciones-compiten-festival-audiovisual-olloboi-2014-20140505194500.html" target="_blank">Más de un centenar de producciones compiten en el festival audiovisual 'Olloboi' 2014</a></li>
				<li>7 Maio 2014 - Lainformacion.com: <a href="http://noticias.lainformacion.com/arte-cultura-y-espectaculos/entrega-de-premios/mas-de-un-centenar-de-producciones-compiten-en-el-festival-audiovisual-olloboi-2014_UFa2c9D0UoE7IRsldeXnF7/" target="_blank">Más de un centenar de producciones compiten en el festival audiovisual 'Olloboi' 2014</a></li>
				<li>22 Febreiro 2014 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/barbanza/2014/02/22/certamen-audiovisual-olloboi-suma-cerca-medio-centenar-trabajos/0003_201402B22C5991.htm" target="_blank">El certamen audiovisual Olloboi ya suma cerca de medio centenar de trabajos</a></li>
				<li>8 Febreiro 2014 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/barbanza/2014/02/08/treinta-trabajos-seleccionados-festival-olloboi/0003_201402B8C89910.htm?utm_source=buscavoz&amp;utm_medium=buscavoz" target="_blank">Treinta trabajos seleccionados para el festival Olloboi</a></li>
				<li>1 Febreiro 2014 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/barbanza/2014/02/01/boiro-nuevos-videos-festival-olloboi/0003_201402B1C8994.htm?utm_source=buscavoz&amp;utm_medium=buscavoz" target="_blank">Boiro Nuevos vídeos para el festival Olloboi</a></li>
				<li>13 Xaneiro 2014 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/barbanza/2014/01/13/arranca-nueva-edicion-certamen-audiovisual-olloboi/0003_201401B13C2995.htmhttp://" target="_blank">Arranca una nueva edición del certamen audiovisual OlloBoi</a></li>
			</ul>

			<h3>Olloboi 2012</h3>
			<ul>
				<li>25 Xuño 2012 - CINE por la RED: <a href="http://www.porlared.com/noticia.php?not_id=61741&amp;sec_id=16" target="_blank">Entregados en Boiro los premios del IV Concurso Audiovisual Gallego Olloboi</a></li>
				<li>24 Xuño 2012 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/barbanza/2012/06/24/festival-audiovisual-olloboi-consolida-record-participacion/0003_201206B24C7991.htm" target="_blank">El festival audiovisual Olloboi se consolida con un récord de participación</a></li>
				<li>21 Xuño 2012 - Canal Rías Baixas: <a href="http://www.canalriasbaixas.com/content/view/12942/1/" target="_blank">O Festival Olloboi premia ós mellores audiovisuais non profesionais</a><strong><em>(Vídeo)</em></strong></li>
				<li>11 Maio 2012 - <a href="http://www.edu.xunta.es/web/node/4150" target="_blank">Web da Consellería de Educación</a></li>
				<li>14 Marzo 2012 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/noticia/barbanza/2012/03/14/custa-moito-sacar-adiante-unha-actividade-altruista/0003_201203B14C2995.htm" target="_blank">«Custa moito sacar adiante unha actividade altruísta»</a></li>
			</ul>

			<h3>Olloboi 2011</h3>
			<ul>
				<li>7 Novembro 2011 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/barbanza/2011/11/07/0003_201111B7C79943.htm?utm_source=buscavoz&amp;utm_medium=buscavoz" target="_blank">Exhibición de proxectos OlloBoi no Festival Acción 2011</a></li>
				<li>21 Xuño 2011 - <a href="http://www.academiagalegadoaudiovisual.com/index.php/lang-gl/novas/2367-entregados-boiro-premios-iii-concurso-audiovisual-galego-olloboi.html" target="_blank">Academia Galega do Audiovisual</a></li>
				<li>19 Xuño 2011 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/barbanza/2011/06/19/0003_201106B19C9996.htm" target="_blank">El OlloBoi escala puestos en el audiovisual gallego</a></li>
				<li>15 Xuño 2011 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/barbanza/2011/06/15/0003_201106B15C2996.htm" target="_blank">«O OlloBoi aspira a entrar nas grandes xiras de curtas»</a></li>
				<li>13 Xuño 2011 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/carballo/2011/06/13/0003_201106C13C4996.htm" target="_blank">Boiro será escenario de los premios OlloBoi</a></li>
				<li>13 Xuño 2011 - Xornal Certo: <a href="http://certo.posterous.com/boiro-a-entrega-dos-premios-audiovisuais-ollo" target="_blank">Boiro: a entrega dos premios audiovisuais OlloBoi, este venres 17 na casa da cultura</a></li>
			</ul>

			<h3>Olloboi 2010</h3>
			<ul>
				<li>21 Maio 2010 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/deza/2010/05/21/0003_8497957.htm" target="_blank">O videoclip «Galegando» do instituto obtén o premio do público no concurso audiovisual galego OlloBoi</a></li>
				<li>21 Maio 2010 - Faro de Vigo: <a href="http://www.farodevigo.es/portada-deza-tabeiros-montes/2010/05/21/creatividad-audiovisual-colmeiro/440641.html" target="_blank">Creatividad audiovisual en el Colmeiro</a></li>
				<li>20 Maio 2010 - La Voz de Galicia: <a href="http://www.lavozdegalicia.com/barbanza/2010/05/20/0003_8494729.htm" target="_blank">OlloBoi xa ten gañadores</a></li>
				<li>11 Maio 2010 - El Correo Gallego: <a href="http://www.elcorreogallego.es/comarcas/ecg/el-ateneo-organiza-la-proyeccion-de-trabajos-que-optan-al-ollo-boi/idEdicion-2010-05-11/idNoticia-545846/" target="_blank">El Ateneo organiza la proyección de trabajos que optan al Ollo Boi</a></li>
				<li>9 Maio 2010 - La Voz de Galicia: <a href="http://www.lavozdegalicia.es/barbanza/2010/05/09/0003_8471969.htm" target="_blank">El Leliadoura promueve el segundo concurso audiovisual gallego OlloBoi</a></li>
			</ul>

			<h3>Outras aparicións en medios dixitais:</h3>
			<ul>
				<li><a href="http://ochoupindixital.blogspot.com/2011/06/lipdub-finalista-do-olloboi-2011.html" target="_blank">Revista Dixital O Choupín (IES Carlos Casares - Viana do Bolo)</a></li>
				<li><a href="http://biblifonsa.blogspot.com/2011/06/premio-do-publico-no-festival.html" target="_blank">Blog Biblioteca IES Fontem Albei (Fonssagrada)</a></li>
				<li><a href="http://sesoduran.wordpress.com/2011/06/20/premios-olloboi/" target="_blank">Seso Durán - Música de Xoguete</a></li>
				<li><a href="http://www.edu.xunta.es/centros/iesasbarxas/node/377" target="_blank">Web IES As Barxas (Cangas)</a></li>
				<li><a href="http://educortos.blogspot.com/2011/06/catro-premios-nun-dia_18.html" target="_blank">Educortos</a></li>
				<li><a href="http://ofalabarato.wordpress.com/2011/06/11/olloboi-2011-xa-podes-votar/" target="_blank">Falabarato</a></li>
				<li><a href="http://loqueyotedigo.net/2015/05/30/2032-2/" target="_blank">Blog "Lo que yo te digo"</a></li>
			</ul>

			<ul class="actions">
				<li><a href="/complices" class="button special">Cómplices</a></li>
				<li><a href="/sobre-olloboi" class="button special">Sobre Olloboi</a></li>
			</ul>


		</div>
	</section>
</article>

{% endblock %}
