{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<section class="wrapper style3">
		<div class="inner">
			<h2>Confirma o teu correo</h2>
			<p>Acabámosche de enviar un email cunha ligaźon para confirmar a túa dirección
				e activar o teu usuari@. Por favor, revisa o teu buzón de correo electrónico.</p>

</div>
</section>
</article>
{% endblock %}
