{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

{% trans_default_domain 'FOSUserBundle' %}
<!-- Main -->
<article id="main">
	<header>
		<h2>Benvid@ {{ app.user.username }}</h2>
		<p>Festival Audiovisual Olloboi 2016</p>
	</header>
	<section class="wrapper style3">
		<div class="inner">
			<p>Grazas por confirmar a túa dirección de correo electrónico.
				Como usuari@ de Olloboi poderás <a href="/creadores">inscribir vídeos no concurso</a>
				e acceder a contidos personalizados. <br />Continúa na <a href="/">páxina de inicio</a>.</p>

				<ul class="actions">
					<li><a href="/profile" class="button special">Perfil de Usuari@</a></li>
{##################  FASE DE INSCRICIÓN
					<li><a href="/video/new" class="button special">Inscribir Vídeo</a></li>
#}
				</ul>



    </div>
  </section>
</article>
{% endblock %}
