{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<section class="wrapper style3">
		<div class="inner">
		<h2>Rexistro de Usuari@</h2>

{% block fos_user_content %}
{# include "FOSUserBundle:Registration:register_content.html.twig" #}
{% endblock fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}

			<br />
			<div class="12u$">
				<ul class="actions">
					<li><input type="submit" value="{{ 'Enviar'|trans }}" class="special" /></li>
				</ul>
    	</div>
{{ form_end(form) }}

		</div>
	</section>
</article>
{% endblock %}
