{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

<!-- Main -->
<article id="main">

	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">

			<h2>{{ school.nome }}</h2>

{# MAPA - NON ESTÁN BEN AS COORDENADAS NA BD :(((
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11775.913944786493!2d{{ school.coordx }}49999999!3d{{ school.coordy }}85!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sgl!2ses!4v1461269007583"
width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<li><b>Mapa: </b> <a href="https://www.google.es/maps/@{{ school.coordy }},{{ school.coordx }},15z" target="_blank">Nova fiestra</a></li>
#}

			<ul>
				<li><b>Enderezo:</b> {{ school.enderezo }}. CP: {{ school.cp }}</li>
				<li><b>Concello:</b> {{ school.concello }}</li>
				<li><b>Provincia:</b> {{ school.provincia }}</li>
				<li><b>Teléfono:</b> {{ school.telefono }}</li>
				<li><b>Correo-e:</b> {{ school.email }}</li>
			</ul>


			{% if videos %}
						<h4>{{ videos|length }} Vídeos Presentados</h4>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Nº</th>
										<th style="align:center">Título</th>
										<th>Nivel Educativo</th>
										<th>Responsable</th>
									</tr>
								</thead>
								<tbody>
				{% for video in videos %}
							      <tr>
											<td>{{ loop.index }}</td>
											<td><a href="/video/show/{{ video.id }}">
													<span class="icon fa-search"><span class="label">Examinar</span></span>
													{{ video.title }}</a>
											</td>
											<td>{{ video.educationLevel }}</td>
											<td>{{ video.username }}</td>
										</tr>
				{% endfor %}
								</tbody>
								<tfoot>
									<tr>
									</tr>
								</tfoot>
							</table>
						</div>


			{% else %}
			<ul class="icons major">
				<li><span class="icon fa-pause major style2"></span></li>
			</ul>

						<p>Este centro non ten ningún vídeo presentado nesta edición do concurso.</p>
						<ul class="actions">
							<li><a href="/bases" class="button special">Bases 2016</a></li>
{##################  FASE DE INSCRICIÓN
							<li><a href="/video/new" class="button special">Inscribir Vídeo</a></li>
#}
							<li><a href="/videos#videos" class="button special">Vídeos 2016</a></li>
						</ul>
			{% endif %}






		</div>
	</section>
</article>
{% endblock %}
