{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">
		<h2>Perfil de Usuari@</h2>
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
		<br />
    <div>
        <input type="submit" value="{{ 'Mudar Contrasinal'|trans }}" class="special" />
    </div>
{{ form_end(form) }}
{% endblock fos_user_content %}


</div>
</section>
</article>
{% endblock %}
