{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">

	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">
					<h2>Entra en Olloboi</h2>

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<input type="hidden" name="_target_path" value="fos_user_profile_show" />

		<div class="6u 12u$(xsmall)">
    	<label for="username">Usuario/Correo-e</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
		</div>

		<div class="6u 12u$(xsmall)">
    	<label for="password">Contrasinal</label>
    	<input type="password" id="password" name="_password" required="required" />
		</div>
		<br />
		<div class="6u 12u$(xsmall)">
    	<input type="checkbox" id="remember_me" name="_remember_me" value="on"  checked="checked"  />
    	<label for="remember_me">Lémbrame</label>
		</div>

		<div class="12u$">
			<ul class="actions">
				<li><input type="submit" id="_submit" name="_submit" value="Entrar" class="special" /></li>
			</ul>
		</div>

</form>

<p>Esqueciches o teu contrasinal? Aínda non es usuari@?</p>
<ul class="actions">
	<li><a href="{{ path('fos_user_resetting_request') }}" class="button special">Lembrar contrasinal</a></li>
	<li><a href="/register" class="button special">Rexistrarse</a></li>
</ul>
{% endblock fos_user_content %}


</div>
</section>
</article>
{% endblock %}
