{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<section class="wrapper style3">
		<div class="inner">
		<h2>Reiniciar Contrasinal</h2>
			<p>Acabámosche de enviar un email con instruccións para reiniciar o teu contrasinal.
				Por favor, revisa o teu buzón de correo electrónico.</p>
</div>
</section>
</article>
{% endblock %}
