{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<section class="wrapper style3">
		<div class="inner">
		<h2>Reiniciar Contrasinal</h2>
			<p>Hai un anaco que solicitaches reiniciar o teu contrasinal
				e que che enviamos un correo con instrucións para facelo.
				Por favor, revisa o teu buzón de correo electrónico
				e comproba que a nosa mensaxe non estea na bandexa de spam. Grazas :)</p>

</div>
</section>
</article>
{% endblock %}
