{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<section class="wrapper style3">
		<div class="inner">
			<h2>Reiniciar contrasinal</h2>

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>O nome de usuario (ou correo electrónico) introducido non é válido ou non existe na base de datos.</p>
        {% endif %}
        <label for="username">{{ 'Introduce o teu nome de usuari@ (ou correo electrónico):'|trans }}</label>
				<div class="6u 12u$(xsmall)">
					<ul class="actions">
						<li><input type="text" id="username" name="username" required="required" /></li>
					</ul>
				</div>
    </div>

		<ul class="actions">
			<li><input type="submit" value="{{ 'Reiniciar contrasinal'|trans }}" class="button special" /></li>
    </ul>
</form>
{% endblock fos_user_content %}

</div>
</section>
</article>
{% endblock %}
