{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<article id="main">
	<section class="wrapper style3">
		<div class="inner">
			<h2>Elixe un novo contrasinal</h2>

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
		<br />
		<ul class="actions">
			<li><input type="submit" value="{{ 'Mudar contrasinal'|trans }}" class="button special" /></li>
	  </ul>
{{ form_end(form) }}
{% endblock fos_user_content %}

</div>
</section>
</article>
{% endblock %}
