{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}Reinicia o teu contrasinal{% endblock %}

{% block body_text %}
{% autoescape false %}
Ola {{ user.username }} !

Podes reiniciar o teu contrasinal seguindo esta ligazón {{ confirmationUrl }}

Saúdos,
O equipo Olloboi
{% endautoescape %}
{% endblock %}



{% block body_html %}
{% autoescape false %}

<img src="https://2016.olloboi.com/logo100.jpg" alt="Festival Audiovisual Escolar Olloboi" />
<h1>Ola {{ user.username }},</h1>

<p>Podes reiniciar o teu contrasinal seguindo esta ligazón:</p>
<p>{{ confirmationUrl }}</p>

<h1>Un saúdo!</h1>
<p>O equipo Olloboi</p>

{% endautoescape %}
{% endblock %}
