{# app/Resources/views/email/video_inscrito.html.twig #}

{% block content %}
<!-- Main -->
<article id="main">

	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">
      {% autoescape false %}
			<img src="https://2016.olloboi.com/logo100.jpg" alt="Festival Audiovisual Escolar Olloboi" />
      <h1>Ola {{ user.username }} !</h1>
      <h2>O teu vídeo inscribiuse correctamente!</h2>
			<p>Moitas grazas por participar en Olloboi! Nos próximos días revisaremos o vídeo
				para confirmar que se adapta ás bases do concurso e poñerémonos en contacto contigo
				para comunicarche se foi aceptado ou se hai algunha cousa que revisar.</p>
			<p>Datos do vídeo inscrito:</p>
						  <ul>
						    <li><b>Título:</b>
									{% if video.proveedor=="YOUTUBE" %}
											<a href="https://youtu.be/{{ video.url }}">
									{% elseif video.proveedor=="VIMEO" %}
											<a href="https://vimeo.com/{{ video.url }}">
									{% endif %}
									{{ video.title }}</a>
								</li>
						    <li><b>Centro educativo:</b> {{ video.school }}</li>
						    <li><b>Nivel Educativo:</b> {{ video.educationLevel }}</li>
						    <li><b>Responsable do Centro:</b> <a href="mailto:{{ video.responsableEmailCentro }}">{{ video.responsableCentro }}</a></li>
						    <li><b>Descrición, Sinopse e Créditos:</b> {{ video.credits }}</li>
						    <li><b>Comentarios para a organización:</b> {{ video.comments }}</li>
						  </ul>
			</p>

			<p>Podes ver o listado dos teus vídeos inscritos e o seu estado no teu <a href="https://2016.olloboi.com/profile">perfil de usuari@</a>.</p>


<h1>Moitas grazas!!</h1>
<p>O equipo Olloboi</p>
<p><b>Nota:</b> Recibes este correo como participante do Festival Olloboi, ou como profe responsable do vídeo inscrito.</p>

{% endautoescape %}
</div>
</section>
</article>
{% endblock %}
