{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<!-- Main -->
<!-- Main -->
<article id="main">

	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<h2>Editar vídeo</h2>
			<p>Edita o vídeo en nome de <a href="/profile">{{ app.user.username }}</a></p>
			<p>* Campos obrigatorios</p>

			{{ form_start(form) }}
				{{ form_errors(form) }}
				{% if video.proveedor=="YOUTUBE" %}
						<div class="youtube-article">
							<iframe class="dt-youtube"
							src="//www.youtube.com/embed/{{ video.url }}"
							frameborder="0" allowfullscreen></iframe></div>
				{% elseif video.proveedor=="VIMEO" %}
						<div class="vimeo-article">
								<iframe src="http://player.vimeo.com/video/{{ video.url }}
								?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff"
								frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
								</iframe></div>
				{% endif %}

						{{ form_row(form.title) }}
						<p>O título do traballo. Por favor, emprega as maiúsculas con moderación :)</p>


						{{ form_row(form.credits) }}
						<p>Esta información será a que se publique xunto ao vídeo.</p>


						<div class="6u 12u$(xsmall)">
						{{ form_row(form.educationLevel) }}
						</div>
						<p>Nivel Educativo ao que pertence a meirande parte do equipo que traballou no vídeo.<br />
						O valor deste campo afecta ás categorías de premios ás que optará o traballo.<br />
						Se están involucrados varios niveis educativos
						ou consideras que esta información non é aplicable ao teu traballo,
						elixe a última opción e detalla o teu caso no campo final de Comentarios.</p>


						{{ form_row(form.school) }}
						<p>Consulta o nome oficial do teu centro no
							<a href="https://www.edu.xunta.es/centroseducativos/" target="_blank">
								Buscador de Centros</a> da Consellería de Educación.<br/>
							Se o teu centro non está na lista, anota os seus datos no campo final de Comentarios.</p>


						<div class="6u 12u$(xsmall)">
						{{ form_row(form.responsableCentro) }}
						</div>
						<p>Campo opcional. Especialmente no caso de traballos presentados por alumnado menor de idade,
							e para facilitar a validación dos mesmos por parte da organización, recoméndase proporcionar
							os datos dun profesor ou profesora do centro que avale ou coordine o traballo e
							que poida actuar de interlocutor do centro con Olloboi.</p>

						<div class="6u 12u$(xsmall)">
						{{ form_row(form.responsableEmailCentro) }}
						</div>
						<p>Campo opcional. Relacionado co anterior.</p>


						{{ form_row(form.comments) }}
						<p>Engade calquera comentario sobre o traballo que de xeito privado queiras comunicar á organización.
							O seu contido será de uso interno e non se publicará.
						  Se o teu centro educativo non estaba na lista desplegable, anota aquí
							os seus datos (Nome, Dirección, Teléfono, Correo-e, Web, etc.).</p>

							{{ form_row(form.estado) }}
							<p>Se cambias o estado comunicarase ao usuari@ responsable do vídeo mediante un Correo-e.<br />
							Tamén afectará á visibilidade do vídeo.</p>

						{{ form_row(form.save, {'attr': {'class': 'special'}}) }}

					{{ form_end(form) }}

			{% else %}
					<ul class="icons major">
						<li><span class="icon fa-forward major style2"><span class="label">Ipsum</span></span></li>
					</ul>

					<p>Para editar un vídeo cómpre iniciar sesión de usuari@ administrador@.</p>
					<ul class="actions">
							<li><a href="/login" class="button special">Entrar</a></li>
					</ul>
			{% endif %}
		</div>
	</section>
</article>
{% endblock %}
