{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

<!-- Main -->
<article id="main">

	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<h2>Vídeo inscrito correctamente!</h2>
			<p>Moitas grazas por participar en Olloboi! Nos próximos días revisaremos o vídeo
				para confirmar que se adapta ás bases do concurso e poñerémonos en contacto contigo
				para comunicarche se foi aceptado ou se hai algunha cousa que revisar.</p>
			<p>Datos do vídeo inscrito:</p>
			{% if video.proveedor=="YOUTUBE" %}
					<div class="youtube-article">
						<iframe class="dt-youtube"
						src="//www.youtube.com/embed/{{ video.url }}"
						frameborder="0" allowfullscreen></iframe></div>
			{% elseif video.proveedor=="VIMEO" %}
					<div class="vimeo-article">
							<iframe src="http://player.vimeo.com/video/{{ video.url }}
							?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff"
							frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
							</iframe></div>
			{% endif %}
						  <ul>
								<li><b>Título:</b>
									{% if video.proveedor=="YOUTUBE" %}
											<a href="https://youtu.be/{{ video.url }}">
									{% elseif video.proveedor=="VIMEO" %}
											<a href="https://vimeo.com/{{ video.url }}">
									{% endif %}
									{{ video.title }}</a>
								</li>
						    <li><b>Centro educativo:</b> {{ video.school }}</li>
						    <li><b>Nivel Educativo:</b> {{ video.educationLevel }}</li>
						    <li><b>Responsable do Centro:</b> <a href="mailto:{{ video.responsableEmailCentro }}">{{ video.responsableCentro }}</a></li>
						    <li><b>Descrición, Sinopse e Créditos:</b> {{ video.credits }}</li>
						    <li><b>Comentarios para a organización:</b> {{ video.comments }}</li>
						  </ul>
						</p>

						<p>Podes ver o listado dos teus vídeos inscritos e o seu estado no teu <a href="/profile">perfil de usuari@</a>.</p>

						<ul class="actions">
							<li><a href="/profile" class="button special">Perfil de Usuari@</a></li>
{##################  FASE DE INSCRICIÓN
							<li><a href="/video/new" class="button special">Inscribir Outro Vídeo</a></li>
#}
							<li><a href="http://vkm.is/olloboi2016" class="button special">Crowdfunding</a></li>
						</ul>

			{% else %}
					<p>Para inscribir un vídeo no concurso cómpre iniciar sesión de usuari@.</p>
					<ul class="actions">
							<li><a href="/login" class="button special">Entrar</a></li>
					</ul>
			{% endif %}
		</div>
	</section>
</article>
{% endblock %}
