{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

<!-- Main -->
<article id="main">

	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">

			<h2>{{ video.title }}</h2>

			{% if video.proveedor=="YOUTUBE" %}
					<div class="youtube-article">
						<iframe class="dt-youtube"
						src="//www.youtube.com/embed/{{ video.url }}"
						frameborder="0" allowfullscreen></iframe></div>
			{% elseif video.proveedor=="VIMEO" %}
					<div class="vimeo-article">
							<iframe src="https://player.vimeo.com/video/{{ video.url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
							</iframe></div>

			{% endif %}

						  <ul>
						    <li><b>Título:</b>
									{% if video.proveedor=="YOUTUBE" %}
											<a href="https://youtu.be/{{ video.url }}">
									{% elseif video.proveedor=="VIMEO" %}
											<a href="https://vimeo.com/{{ video.url }}">
									{% endif %}
									{{ video.title }}</a></li>
						    <li><b>Centro educativo:</b> <a href="/school/show/{{ video.school.id }}">{{ video.school }}</a></li>
						    <li><b>Nivel Educativo:</b> {{ video.educationLevel }}</li>
						    <li><b>Descrición, Sinopse e Créditos:</b> {{ video.credits }}</li>
						    {# SÓ PARA A ORGANIZACIÓN #}
								{% if is_granted('ROLE_ADMIN') %}
									<li><b>Responsable do Centro:</b> <a href="mailto:{{ video.responsableEmailCentro }}">{{ video.responsableCentro }}</a></li>
									<li><b>Comentarios para a organización:</b> {{ video.comments }}</li>
								{% endif %}
						  </ul>

			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<ul class="actions">
					<li><a href="/profile" class="button special">Perfil de Usuari@</a></li>
{##################  FASE DE INSCRICIÓN
					<li><a href="/video/new" class="button special">Inscribir un Vídeo</a></li>
#}
				</ul>
			{% else %}
			<ul class="actions">
				<li><a href="/finalistas" class="button special">Finalistas</a></li>
				<li><a href="/encontro" class="button special">Programa Encontro</a></li>
				<li><a href="http://camisetas.olloboi.com/" class="button special" target="_blank">Camiseta Olloboi!</a></li>
			</ul>
			{% endif %}
		</div>
	</section>
</article>
{% endblock %}
